{% extends 'layouts/main.html' %}
{% block title %}Prices{% endblock %}
{% block content %}

<div class="page-header">
  <h1>Critter Prices</h1>
  <form class="navbar-form navbar-left" id="search-button">
    <div class="input-group">
      <input type="text" placeholder="Find a critter" class="form-control search input-lg" id="search-input">
      <span class="input-group-btn">
        <button aria-label="Search Critters" class="btn search btn-default btn-lg" type="submit">
          <i class="fa fa-search"></i>
        </button>
      </span>
    </div>
  </form>
</div>

<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">Critter</th>
      <th scope="col">Price</th>
      <th scope="col">Image</th>
    </tr>
  </thead>
  <tbody id="results"></tbody>
</table>

<script>
  // Quick client side filtering
  // Thanks joaquimds (https://github.com/joaquimds)
  window.data = JSON.parse('{{ critters | escapejs }}');

  const input = document.querySelector('#search-input')
  const results = document.querySelector('#results')
  const form = document.querySelector('#search-button')

  form.addEventListener('submit', (e) => {
    e.preventDefault()
  })

  input.addEventListener('input', (e) => {
    const value = e.target.value

    if (!value) {
      // clear list when no search value
      results.innerHTML = ''
      return
    }

    // create case-insensitive RegExp
    const pattern = new RegExp(value, 'i')

    // filter data array
    const matches = window.data.filter(item => item.Name.match(pattern))

    // update the <ul> contents
    results.innerHTML = matches.map(createListItem).join('')
  })

  // template strings aren't supported by IE!
  const createListItem = (item) => {
    return `<tr>
      <td>${item.Name}</td>
      <td>${item.Price}</td>
      <td>${item.Image}</td>
    </tr>`
  }
</script>

{% endblock %}